$lavender: #9b7fff;
$pale-lavender: #dcd0ff;
$light-lavender: #b0a0ff;
$dark-lavender: #7f5fff;

$pink: #ff7fd0;
$pale-pink: #ffdcf0;
$light-pink: #ffafd0;
$dark-pink: #ff7fba;

$red: #ff7f7f;
$pale-red: #ffdcdc;
$light-red: #ffafaf;
$dark-red: #ff5f5f;

$white: #f8f8f8;
$off-white: #f0f0f0;
$vanta-white: #ffffff;

$gray: #7f7f7f;
$pale-gray: #d0d0d0;
$light-gray: #afafaf;
$dark-gray: #5f5f5f;

$black: #1a1a1a;
$off-black: #202020;
$vanta-black: #000000;


$primary: $pale-lavender;
$secondary: $pale-pink;
$tertiary: $pale-red;

$text: $white;
$background: $black;
